<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinoangel.ctrl.parentalcontrol">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591c328c8630f5520e000dc8" />

        <activity
            android:name=".index.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.parent.LoginActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".account.parent.RegisterActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".account.parent.ForgetPWDActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".account.SelectHeadActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".webview.ShopActivity"
            android:launchMode="singleTop"
            android:process=":remote"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".index.EyeshieldSettingActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.KidAccountActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.InternetManagerActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.AddURLActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.ConsumeProtectionActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.AboutActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.FeedbackActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.ActionStatisticsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".index.SinoCoinActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".account.parent.ParentAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".account.kids.CreateKidActivity"
            android:screenOrientation="userPortrait"></activity>
    </application>

</manifest>